#font-acess {
    position: fixed;
    right: 0;
    top: 9%;
    z-index: 1000;
}

#font-acess button {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px !important;
    color: #FFF;
    background: #000000;
    cursor: pointer;
    border: none;
    display: block;
}

#font-acess a {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px !important;
    color: #FFF;
    background: #000000;
    cursor: pointer;
    border: none;
    display: block;
}

#font-acess a:HOVER {
	background: #FF0000;
	text-decoration: none !important;
}

#font-acess button:HOVER {
	background: #FF0000;
	text-decoration: none !important;
}

.botaotopo {
    position: fixed;
    bottom: 2px;
    right: 2px;
    z-index: 1000;
}

#move-to-top {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
    width: 50px;
    height: 50px;
    z-index: 1000 !important;
    background: #000000;
    text-align: center;
    border: none;
    display: block;
}

.container{
  z-index: -1 !important;
}

#move-to-top:HOVER {
	background: #FF0000;
	text-decoration: none !important;
}

body.contraste button {
    color: #9F0 !important;
    font-weight: bold;
}

